.family {
  padding: 96px 0;
}

.text {
  max-width: 465px;
}

h3 {
  padding-bottom: 36px;
}

.shop-com {
  padding: 167px 0 162px;
}

.shop-com > img {
  transform: translateX(-60px);
}

.logo-bg {
  background-color: #0156ff;
  border-radius: 25px 40px 40px 0px;
  height: 50px;
  width: 87px;
  position: relative;
  margin-bottom: 2px;
}

.logo-icon {
  position: absolute;
  top: 9.5px;
  z-index: 100;
  right: 31px;
}

.safe-hands {
  padding: 79px 0 57px;
}

.safe-hands > img {
  transform: rotate(1.09deg);
}

.br-icons {
  padding-bottom: 10px;
}

.highest-quality {
  padding: 70px 0 50px;
}

.delivery {
  padding: 70px 0;
}

.quote {
  margin-top: 63px;
  margin-bottom: 63px;
}
