.catalog p {
padding-top: 19px;
}

aside {
width: 233px;
margin-right: 6px;
}

.back {
width: 233px;
margin-right: 7px;
text-align: center;
padding: 15px 0;
align-content: center; */
}

.items-35-61 {
flex: 1;
}

.srch-bar {
width: 84%;
}

.frame-1 {
border: 2px solid #CCCCCC;
box-sizing: border-box;
border-radius: 2px;
padding: 11px 20px;
}

.display {
margin: 0 15px;
}

.frame-mrgn {
margin-left: 11px;
}

select {
border: none;
}

.filters, .brands, .compare-products, .my-wish-list {
padding: 15px 15px 20px;
text-align: center;
}

.grid-logos, .filters, .compare-products, .my-wish-list {
margin-bottom: 7px;
}

.aside-hov-logos {
padding: 15px 14.7px;
border: 1px solid #CCCCCC;
}

.aside-hov-logos:hover {
background-color: #EBEBEB;
}

.grid-logos {
display: grid;
grid-template-columns: 1fr 1fr;
}

.filter-title {
padding: 10px 0;
}

.filters li:first-child {
padding-top: 6px;
}

.filter-color-square {
height: 23px;
width: 23px;
margin-top: 13px;
margin-right: 9px;
cursor: pointer;
}

.filter-color-square:hover {
border: 1px solid #8C8C8C;
}

.top-main-main {
margin-left: 2px;
margin-bottom: 21px;
}

.top-main-main-frame {
padding: 10px 16px;
border: 1px solid #CCCCCC;
border-radius: 2px;
margin-right: 6px;
}

.red-cancel {
margin-left: 8px;
}

.main-main {
flex: 1;
}

.catalog-cards {
margin-bottom: 15px;
}

.left-catalog-card {
margin-right: 53px;
}

.catalog-card {
padding: 9px 30px 36px 53px;
}

.catalog-card:hover {
box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.14);
}

.reviews {
margin-top: 17px;
}

.right-catalog-card {
align-self: stretch;
}

.sku {
padding: 61px 0 22px;
}

.del-price {
padding: 20px 0 50px;
}

.catalog-btn {
padding-left: 20px;
padding-right: 20px;
}

.left-right-catalog-card {
flex: 3;
padding-right: 46px;
}

.center-right-catalog-card {
flex: 2;
align-self: stretch;
}

.right-right-catalog-card {
flex: 1;
align-items: flex-end;
align-self: stretch;
justify-content: space-between;
}

.n-a {
padding: 6px 15px;
}

.r-50 {
flex: 1;
}

.l-50 {
flex: 1;
}

.page-nb {
padding: 25px 0 60px;
justify-content: center;
}

.nb-btn {
padding-left: 19px;
padding-right: 19px;
margin: 0 6px;
cursor: pointer;
}

.nb-btn:hover, .more-btn:hover{
background-color: #0156FF;
color: rgb(255, 255, 255);
}

.etc {
margin: 0 12px;
}

.two-btn {
background-color: #EBEBEB;
border-radius: 50px;
padding: 8px 16px;
border: 2px solid #EBEBEB;
color: #000000;
}

.more-section {
padding-left: 19px;
}

.gradient-p {
position: relative;
}

.gradient-p::after {
position: absolute;
bottom: 0;  
height: 100%;
width: 100%;
left: 0;
content: "";
background: linear-gradient(to top,
rgba(255,255,255, 1) 5%, 
rgba(255,255,255, 0) 100%);
}

.more-btn {
padding-left: 30px;
padding-right: 30px;
margin-bottom: 35px;
}