.checkout {
margin-top: 20px;
}

h2 {
padding: 0;
margin-right: 30px;
}

.sign-in-btn:hover {
color: #FFFFFF;
background-color: #0156FF;
}

.checkout-btns {
padding-left: 80px;
padding-right: 80px;
}

.checked-shipping-line {
height: 0px;
width: 210px;
border-style: solid;
position: relative;
}

.checked-shipping-cercle {
height: 41px;
width: 41px;
border-style: solid;
border-radius: 50%;
}

.blue-line, .blue-cercle {
border-color: #0156FF;
background-color: #0156FF;
}

.gray-line, .gray-cercle {
border-color: #CCCCCC;
background-color: #CCCCCC;
}

.blue-cercle, .gray-cercle {
background-color: #FFFFFF;
position: absolute;
top: -20px;
left: 80px;
justify-content: center;
}

.review-payments, .checked-shipping {
position: absolute;
top: 30px;
}

.review-payments {
left: 24px;
}

.checked-shipping {
left: 65px;
}

.shipping-review-payments {
justify-content: flex-end;
padding-top: 5px;
}

.shipping-address {
padding-top: 43px;
}

.shipping-address-form {
flex: 1;
border-top: 2.5px solid #cccccc;
padding: 25px 0 87px;
}

.shipping-address-form-container {
max-width: 570px;
}

.email-p {
padding-bottom:20px;
border-bottom: 2.5px solid rgba(204, 204, 204, 1);
margin-bottom: 21px;
}

.input-frame {
border: 1px solid #8c8c8c;
border-radius: 4px;
padding: 10px 17px;
margin: 3px 0 18px
}
.input-frame:nth-of-type(5){
margin-bottom: 5px;
}
.radio {
margin-right: 12px;
}

.radio-p {
flex: 1;
padding-right: 150px;
}

.s-rate {
margin-bottom: 10px;
}

.pickup {
margin-bottom: 30px;
}

.order-summary {
width: 446px;
margin-left: 30px;
padding: 18px 31px 29px;
}

.order-summary-p {
padding-bottom: 22px;
border-bottom: 1px solid #CCCCCC;
margin-bottom: 16px;
}

.order-imgs {
width: 62px;
margin-right: 15px;
}

.order-summary-price {
margin-left: 12px;
}