* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  /* background-color: aquamarine; */
}

.white-color {
  color: #FFFFFF;
}

.black-bg {
  background-color: #020202;
  
}

.flex {
  display: flex;
  align-items: center;
}



.flex {
  display: flex;
  align-items: center;
}

.flex-btwn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  text-decoration: none;
  color: #000000;
}

li {
  list-style: none;
}

body {
  font-family: 'Poppins', sans-serif;
}

header {
  /* position: fixed; */
  /* background-color: black; */
  font-family: Poppins;
font-size: 12px;
font-style: normal;
font-weight: 600;
line-height: 18px;
letter-spacing: 0px;
text-align: center;

}









.top-header {
  color: #ACACAC;
padding: 13px 0;
font-size: 12px;
font-style: normal;
font-weight: 600;
line-height: 18px;
letter-spacing: 0px;
}

.left-top-header img {
  margin-left: 8px;
}
.underline {
  position: relative;
}
.underline::after {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  background-color: #FFFFFF;
  left: 0;
  /* top: 100; */
  bottom: -4px;

}
.center-top-header {

/* text-align: center; */
/* background-color: aqua; */
}
.w-fb {
  margin: 0 12.5px 0 16px;
}


.fb-messenger {
  position: fixed;
  /* background-color: blueviolet; */
  right: 31px;
  bottom: 31px;
}

.oval-fb-messenger {
  height: 60px;
width: 60px;
left: 0px;
top: 0px;
border-radius: 50%;
background: #0156FF;
position: relative;
/* z-index: 2; */
}

.fb-messenger-icon {
  position: absolute;
  bottom: 10px;
  left: 10px;

}

.fb-messenger img {
  
}

.header-nav {
  padding: 25px 0 27px;
  /* background-color: burlywood; */
}

.logo {
  margin-right: 65px;
  /* background-color: brown; */
}

.menu {
  /* justify-self: start; */
  /* background-color: brown; */
  gap: 25px
}

nav {
  flex: 1;
  /* background-color: #0156FF; */
}

.basket {
  position: relative;
  /* background-color: coral; */
  margin: 0 39px 0 28px;
}
.basket-oval{
  height: 16px;
  width: 16px;
border-radius: 50% ;
background-color: #0156FF;
font-size: 10px;
font-style: normal;
font-weight: 700;
line-height: 15px;
text-align: center;
position: absolute;
top: -11.2px;
left: 14px;
}


.list-item {
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 21px;
letter-spacing: 0px;
text-align: center;
position: relative;

}


  .cta {
padding: 8px 26px;
border: 2px solid #0156FF;
box-sizing: border-box;
border-radius: 50px;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 21px;
letter-spacing: 0px;
text-align: center;
cursor: pointer;
  }


.list-item:hover {
border-radius: 100px;
background-color: #0156FF;
padding: 8px 26px;
}

.list-item:hover a {
  color: #FFFFFF;
    }

  .st-sub-menu {
    display: none;
    width: 350px;
    Height: 395px;
    position: absolute;
    left: -93px;
    /* top: 65px; */
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
    border: 1px solid #CCCCCC;
    }
  .st-sub-menu li {
    /* background-color: rgb(241, 202, 94); */
    padding: 10px 23px 13px 28px;

    text-align: start;

    }
  .st-sub-menu li:hover {
background-color: #EBEBEB;
    }





  .list-item:hover .st-sub-menu {
    display: block;
    position: absolute;

  }
  .list-item:hover .st-sub-menu a {
    color: #000000;

  }

  .st-sub-menu:hover {

    }

    .hov-st-sub-menu:hover .nd-sub-menu {
    display: block;
    }

.nd-sub-menu {
  display: none;
  /* background-color: rgb(246, 133, 104); */
  /* padding-left: 10px; */
  /* transform: translate(10px); */
  position: absolute;
  left: 100%;
  top: 0;
  width: 262px;
  Height: 395px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  border: 1px solid #CCCCCC;
}
.nd-sub-menu li {
  /* background-color: rgb(241, 202, 94); */
  padding: 10px 26px 13px 21px;
  text-align: start;

  }
    .hov-nd-sub-menu:hover .rd-sub-menu {
    display: block;
    }

    .rd-sub-menu {
      display: none;
      /* background-color: rgb(106, 76, 241); */
      /* transform: translate(10px); */
    }

.rd-sub-menu {
  display: none;
  /* background-color: rgb(246, 133, 104); */
  /* padding-left: 10px; */
  /* transform: translate(10px); */
  position: absolute;
  left: 100%;
  top: 0;
  width: 263px;
  Height: 395px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  border: 1px solid #CCCCCC;
}
.rd-sub-menu li {
  /* background-color: rgb(241, 202, 94); */
  padding: 10px 26px 13px 21px;
  text-align: start;

  }


















































  .hov-nd-sub-menu {
    /* background-color: grey; */
  }