

/* table of contents

1- Global Styles

2- Typography

3- Components

4- Header

5- Main

6- Footer

*/




/* ====================================================== ===================  1- Global Styles  ===================
========================================================*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #ffffff;
  font-style: normal;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}
.small-container {
  max-width: 1160px;
  margin: 0 auto;
}

.flex {
  display: flex;
  align-items: center;
}

.flex-btwn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-start {
  display: flex;
  align-items: flex-start;
}

.col-flex {
display: flex;
flex-direction: column;
align-items: center;
}
.col-flex-start {
display: flex;
flex-direction: column;
align-items: flex-start;
}

.flex-rev {
  flex-direction: row-reverse;
}

.scal-1-2:hover {
  transform: scale(1.2);
}
/* .scal-1-2 {
  transform: scale(1.2);
} */

.scal-1-3:hover {
  transform: scale(1.3);
}
/* .scal-1-3 {
  transform: scale(1.3);
} */

.opacity-0-5 {
  opacity: 0.5;
  }
.opacity-0-3 {
  opacity: 0.3;
  }
.opacity-0-2 {
  opacity: 0.2;
  }
  .rot-180 {
    transform: rotate(-180deg);
  }

  .hidden {
    display: none;
  }
.box-shadow {
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.14);
}

.menu-padding {
  padding: 21px 0;
}

.stars {
  margin-right: 9.5px;
}

.b-basket {
  margin-right: 9px;
}

.gray-hov:hover {
  color: #000000;
  }

  .width-100 {
    width: 100%;
  }
/* ====================================================== ====================  2- Typography  =====================
========================================================*/

h2 {
  padding-top: 19px;
}

h5 {
  padding-bottom: 13px;
  }

  .inline-p {
    display: inline-block;
  }

.text-10-12 {
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
}
.text-10-180 {
  font-weight: normal;
  font-size: 10px;
  line-height: 180%;
  /* or 18px */
}
.text-13-18 {
font-size: 13px;
font-weight: 400;
line-height: 18px;
  /* line-height: 140% */
}

.text-10-15 {
  font-size: 10px;
  font-weight: 400;
  line-height: 15px;

}
.text-12-14 {
  font-weight: 300;
  font-size: 12px;
  line-height: 120.5%;
  /* or 14px */
}
.text-12-14-bold {
  font-weight: 600;
  font-size: 12px;
  line-height: 120.5%;
  /* or 14px */
}
.text-12-14-normal {
  font-weight: normal;
  font-size: 12px;
  line-height: 120.5%;
  /* or 14px */
}
.text-12-140 {
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  /* line-height: 18px */
}
.text-12-140-bold {
  font-weight: 600;
  font-size: 12px;
  line-height: 140%;
  /* line-height: 18px */
}
.text-12-140-300 {
  font-weight: 300;
  font-size: 12px;
  line-height: 140%;
  /* line-height: 18px */
}
.text-12-25 {
font-size: 12px;
font-weight: 400;
line-height: 25px;
}

.text-13-14 {
font-size: 13px;
font-weight: 600;
line-height: 14px;
}
.text-13-15 {
font-size: 13px;
font-weight: normal;
line-height: 15px;
}

.text-13-19 {
font-size: 13px;
font-weight: 600;
line-height: 19px;
}

.text-13-19-normal {
  font-size: 13px;
  font-weight: normal;
  line-height: 19px;
}
.text-13-17-normal {
  font-size: 13px;
  font-weight: normal;
  line-height: 130%;
  /* line-height: 17px; */
}

.text-13-20 {
font-size: 13px;
font-weight: 600;
line-height: 20px;
}
.text-13-210 {
  font-weight: 600;
  font-size: 13px;
  line-height: 210%;
  /* or 27px */
}
.text-13-210-normal {
  font-weight: normal;
  font-size: 13px;
  line-height: 210%;
  /* or 27px */
}

.text-18-140 {
  font-weight: 600;
  font-size: 18px;
  line-height: 140%;
}
.text-18-22 {
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
}

.text-18-22-normal {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}

.text-18-24 {
  font-weight: bold;
  font-size: 18px;
  line-height: 132.5%;
}

.text-18-27 {
font-size: 18px;
font-weight: 400;
line-height: 27px;
/* line-height: 147.5%; */
}

.text-18-27-bold {
font-size: 18px;
font-weight: 600;
line-height: 27px;
}

/* .text-18-27-700 {
font-size: 18px;
font-weight: 700;
line-height: 27px;
} */

.text-18-26 {
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
}
.text-18-30 {
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  /* or 167% */
}

.text-14-140 {
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
}

.text-14-17 {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}

.text-14-140-normal {
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
}
.text-14-20 {
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
}
.text-14-20-bold {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
}
.text-14-20-normal {
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
}
.text-14-21 {
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
}

.text-14-21-normal {
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
}

.text-14-21-700 {
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
}

.text-14-14 {
  font-style: normal;
  font-weight: 700;
  line-height: 14px;
  line-height: 14px;
  }

.text-14-19 {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  }
.text-14-22 {
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  /* or 157% */
  }
.text-14-30 {
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  }
.text-15-22 {
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  }
.text-15-22-normal {
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
  }
.text-16-140 {
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  }

.text-16-24 {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  }
.text-16-20-500 {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  }
.text-16-20-normal {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  }
.text-16-20-300 {
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
  }

.text-16-24-500 {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  }

.text-16-24-bold {
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  }

.text-16-24-300 {
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
  }

.text-16-30 {
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
  /* or 187% */
  }

.text-22-33 {
  font-size: 22px;
  font-weight: 600;
  line-height: 33px;
  }

.text-24-36 {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  }

.text-32-48 {
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  }

.text-22-29 {
  font-size: 22px;
  font-weight: bold;
  line-height: 29px;
  }

.text-44-58 {
  font-weight: 500;
  font-size: 44px;
  line-height: 58px;
  }

.text-38-57 {
font-size: 38px;
font-weight: 500;
line-height: 57px;
  }

  .white-color {
    color: #FFFFFF;
  }

  .red-color {
    color: crimson;
  }

  .gray-color {
    color: #ACACAC;
  }
  .gray-8c-color {
    color: #8C8C8C;
    ;
  }
  .gray-83-color {
    color: #838383;
    ;
  }

  .gray-66-color {
    color: #666666;
    ;
  }

  .blue-color {
    color: #0156FF;
  }

  .black-bg {
    background-color: #020203;
}
  .red-bg {
    background-color: #DB0000;
}
 .f5-bg {
   background-color: #F5F7FF;
   /* background-color: #00ccff5b; */
 }

 .ae-bg {
   background-color: #EAE8EB;
 }

 .f2-bg {
   background-color: #F2E9DC;
 }

 .b4-bg {
   background-color: #4B4D4F;
 }

/* ====================================================== =====================  3- Components  ====================
========================================================*/

.input-nb {
  padding: 10px 11px;
  max-width: 60px;
  background: #ebebeb;
  border-radius: 6px;
  border: none;
}

.input-nb::-webkit-inner-spin-button,
.input-nb::-webkit-outer-spin-button {
  opacity: 1;
}

a {
  text-decoration: none;
  color: #000000;
}

li {
  list-style: none;
}

.hr {
border: 0.1px solid #000000;
margin: 12px 0 10px;
}

.hr2 {
border: 0.1px solid #ffffff;
}

.btn {
  border: 2px solid #0156FF;
  border-radius: 50px;
  cursor: pointer;
  text-align: center;
  }

.btn-8 {
  padding-top: 8px;
  padding-bottom: 8px;
  }

.btn-15 {
  padding-top: 12px;
  padding-bottom: 12px;
  }

  .gray-btn {
    border: 2px solid #666666;
  }

    .gray-8c-btn {
    border: 2px solid #8C8C8C;
    border-radius: 50px;
  }

  .blue-btn {
    border: 2px solid #0156FF;
    background-color: #0156FF;
  }
  .black-btn {
    border: 2px solid #000000;
    background-color: #000000;
  }

  .yellow-btn {
    border: 2px solid #FFB800;
    background-color: #FFB800;
    justify-content: center;
  }
   
    .cta {
  padding-left: 26px;
  padding-right: 26px;
    }


/* ====================================================== ======================  4- Header  =======================
========================================================*/


header {
font-size: 12px;
font-style: normal;
font-weight: 600;
line-height: 18px;
letter-spacing: 0px;
text-align: center;
 position: fixed;
  /* width: 100%; */
  z-index: 80;
  top: 0;
  background-color: #ffffff;
  display: block;
  border-bottom: 1px solid #CCCCCC;
}

.top-header {
  color: #FFFFFF;
padding: 13px 0;
font-size: 12px;
font-style: normal;
font-weight: 600;
line-height: 18px;
letter-spacing: 0px;
}

.left-top-header {
  position: relative;
}

.left-top-header:hover + .hov-left-top-header {
  display: block;

}

.left-top-header img {
  margin-left: 8px;
}

.hov-left-top-header {
  position: absolute;
  padding: 11.5px 24px 17px 8px;
top: 30px;
background-color: #FFFFFF;
border: 1px solid rgba(0, 0, 0, 0.2);
box-sizing: border-box;
color: #000000;
z-index: 10;
}

.hov-left-top-header p {
  text-align: left;
}

.clock, .localisation  {
  margin-right: 10px;
  align-self: flex-start;
}

.store-call {
  padding-left: 14px;
}

.center-top-header a {
  color: #FFFFFF;
}

.white-underline, .blue-underline {
  position: relative;
}

.white-underline::after, .blue-underline::after {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: -3px;
}
.white-underline::after {
background-color: #FFFFFF;
}
.blue-underline::after {
background-color: #0156FF;
}

.w-fb {
  margin: 0 12.5px 0 16px;
}


.fb-messenger {
  position: fixed;
  right: 31px;
  bottom: 31px;
  z-index: 100;
}

.oval-fb-messenger {
  height: 60px;
width: 60px;
left: 0px;
top: 0px;
border-radius: 50%;
background: #0156FF;
position: relative;
}

.fb-messenger-icon {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.header-nav {
  padding: 25px 0 27px;
}

.logo {
  margin-right: 65px;
}

.menu {
  gap: 25px;
}

nav {
  flex: 1;
}

.basket {
  position: relative;
  margin: 0 39px 0 28px;
}

.basket-oval{
  height: 16px;
  width: 16px;
border-radius: 50% ;
background-color: #0156FF;
font-size: 10px;
font-style: normal;
font-weight: 700;
line-height: 15px;
text-align: center;
position: absolute;
top: -11.2px;
left: 14px;
}

.hov-my-card {
  Width: 310px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 30px;
  left: -30px;
  z-index: 100;
  }

  .basket:hover .hov-my-card {
    display: block;
  }

  .hov-my-card a {
justify-content: center;
  }

  .hov-my-card a:nth-child(2) {
margin-top: 13px;
margin-bottom: 7px;
      }

.top-hov-my-card {
  padding: 24px 30px 20px;
}

.items-hov-my-card {
padding: 17.5px 15px 23.5px 24px
}

.top-hov-my-card p:nth-child(2){
padding-top: 7px;
padding-bottom: 18px;
}

.bottom-hov-my-card {
  padding: 16.5px 30px 24.5px;
}

.my-account {
  position: relative;
}

.gray:hover {
  background-color: #EBEBEB;
      }

.id-photo:hover + .hov-my-account {
  display: block;
}

.hov-my-account {
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 28px;
letter-spacing: 0px;
text-align: left;
Width: 232px;
background: #FFFFFF;
border: 1px solid rgba(0, 0, 0, 0.2);
box-sizing: border-box;
padding: 15px 26px;
position: absolute;
top: 36px;
left: -30px;
z-index: 100;
}

.list-item {
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 21px;
letter-spacing: 0px;
text-align: center;
position: relative;
}

.list-item:hover {
border-radius: 100px;
background-color: #0156FF;
padding: 8px 26px;
}

.list-item:hover a {
  color: #FFFFFF;
    }

  .st-sub-menu {
    width: 350px;
    Height: 395px;
    position: absolute;
    left: -93px;
    top: 38px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
    border: 1px solid #CCCCCC;
background-color: #FFFFFF;
z-index: 100;
    }

  .st-sub-menu li {
    padding: 10px 23px 13px 28px;
    text-align: start;

    }
  .st-sub-menu li:hover {
background-color: #EBEBEB;
    }

  .list-item:hover .st-sub-menu {
    display: block;
    position: absolute;
  }

  .list-item:hover .st-sub-menu a {
    color: #000000;
  }

    .hov-st-sub-menu:hover .nd-sub-menu {
    display: block;
    }

.nd-sub-menu {
  position: absolute;
  left: 100%;
  top: 0;
  width: 262px;
  Height: 395px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  border: 1px solid #CCCCCC;
  background-color: #FFFFFF;
}

.nd-sub-menu li {
  padding: 10px 26px 13px 21px;
  text-align: start;
  }

    .hov-nd-sub-menu:hover .rd-sub-menu {
    display: block;
    }

.rd-sub-menu {
  position: absolute;
  left: 100%;
  top: 0;
  width: 263px;
  Height: 395px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  border: 1px solid #CCCCCC;
  background-color: #FFFFFF;
}

.rd-sub-menu li {
  /* background-color: rgb(241, 202, 94); */
  padding: 10px 26px 13px 21px;
  text-align: start;
  }


/* ====================================================== ========================  5- Main  =======================
========================================================*/


main {
  padding-top: 148px;
}

.quote {
  padding: 49px 119px 64px;
  margin: 0 auto;
}
.quote-sec {
  padding: 0;
  margin: 0 auto;
}

.quote-p {
  margin-right: 26px;
  align-self: flex-start;
font-size: 96px;
font-weight: 400;
line-height: 144px;
}

.author {
  text-align: end;
  padding: 7px 0 29.5px;
}

.quote-sec a {
  padding-left: 26px;
  padding-right: 26px;
}

.big-cercle, .small-cercle  {
border-radius: 50%;
margin-left: 10px;
cursor: pointer;
}

.big-cercle {
  height: 12px;
width: 12px;
}

.small-cercle {
  height: 10px;
width: 10px;

}

.gray-cercle {
background-color: #CCCCCC;
}

.blue-cercle {
background-color: #0156FF;
}

.white-cercle {
  background-color: #ffffff;
  }

.cards-shared-main {
  /* justify-content: space-around; */
  padding: 61px 0 44.5px;
}

.card-shared-main {
  text-align: center;
max-width: 265px;
}

.card-shared-main .text-18-24 {
padding: 25.5px 0 13px;
}

.oval-shared-main {
  height: 65px;
width: 65px;
border-radius: 50%;
background-color: #0156FF;
display: flex;
align-items: center;
justify-content: center
}


/* ====================================================== =======================  6- Footer  ======================
========================================================*/


footer {
  color: #FFFFFF;
  padding: 47px 0 17px;
}
footer a{
  color: #FFFFFF;
}

.list-tite {
  padding: 45px 0 25px;

}

.top-footer {
align-items: flex-end;
}

.left-top-footer {
flex: 1;
}
.left-top-footer p:first-child {
  font-size: 38px;
  font-style: normal;
  font-weight: 500;
  line-height: 50px;

}
.left-top-footer p:last-child {
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 132.5%;
  padding-top: 9px;
}
.right-top-footer input {
padding: 12px 10px ;
margin-right: 23px;
background-color: #000000;
border: 2px solid #FFFFFF;
border-radius: 4px;
height: 50px;
width: 391px;
}

.right-top-footer a {
padding-left: 35px;
padding-right: 35px;
}

.center-footer {
  padding-bottom: 36px;
  align-items: flex-start;
}

.center-footer ul {
  flex: 1;
  margin-right: 78px;
}
.center-footer ul:last-child, .center-footer ul:nth-child(2) {
  flex: 1.7;
}

.bottom-footer {
  padding-top: 17px;
}

.social-media-footer img:first-child {
  margin-right: 12px;
}

.center-bottom-footer img {
  margin-right: 6px;
}

.center-bottom-footer img:last-child {
  margin-right: 0;
  }

.bottom-footer p {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 132.5%;
  text-align: right;
  color: #FFFFFF;
  opacity: 0.6;
}