

/* table of contents

1- Global Styles

2- Typography

3- Components

4- Header

5- Main

6- Footer

*/




/* ====================================================== ===================  1- Global Styles  ===================
========================================================*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #FFFFFF;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  /* background-color: aquamarine; */
}

.flex {
  display: flex;
  align-items: center;
}

.flex-btwn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-start {
  display: flex;
  align-items: flex-start;
}

.col-flex {
display: flex;
flex-direction: column;
align-items: center;
}

.scal-1-2:hover {
  transform: scale(1.2);
}

.scal-1-3:hover {
  transform: scale(1.3);
}


/* ====================================================== ====================  2- Typography  =====================
========================================================*/


.text-13-18 {
font-size: 13px;
font-weight: 400;
line-height: 18px;
  /* line-height: 140% */
}

.text-12-140 {
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  /* line-height: 18px */
}

.text-13-14 {
font-size: 13px;
font-weight: 600;
line-height: 14px;
}

.text-13-19 {
font-size: 13px;
font-weight: 600;
line-height: 19px;
/* background: red; */
}

.text-13-19-normal {
  font-size: 13px;
  font-weight: normal;
  line-height: 19px;
  /* background: red; */
}

.text-13-19 {
font-size: 13px;
font-weight: 600;
line-height: 20px;
/* background: red; */
}

.text-18-140 {
  font-weight: 600;
  font-size: 18px;
  line-height: 140%;
}

.text-18-24 {
  font-weight: 600;
  font-size: 18px;
  line-height: 132.5%;
}

.text-14-140 {
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
}

.text-14-140-normal {
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
}

.text-14-14 {
  font-style: normal;
  font-weight: 700;
  line-height: 14px;
  }

  .white-color {
    color: #FFFFFF;
  }

  .gray-color {
    color: #ACACAC;
  }
  
  .blue-color {
    color: #0156FF;
  }
  
  .black-bg {
    background-color: #020203;
}


/* ====================================================== =====================  3- Components  ====================
========================================================*/


a {
  text-decoration: none;
  color: #000000;
}

li {
  list-style: none;
}

.hr {
  opacity: 0.2;
border: 0.1px solid #000000;
margin: 12px 0 10px;
}

.hr2 {
  opacity: 0.2;
border: 0.1px solid #ffffff;
}

.btn {
  padding-top: 8px;
  padding-bottom: 8px;
  border: 2px solid #0156FF;
  border-radius: 50px;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 21px;
  text-align: center;
  cursor: pointer;
  }
  
  .blue-btn {
    border: none;
    background-color: #0156FF;
  }

  .yellow-btn {
    border: none;
    background-color: #FFB800;
  }
   
    .cta {
  padding-left: 26px;
  padding-right: 26px;
    }


/* ====================================================== ======================  4- Header  =======================
========================================================*/


header {
font-size: 12px;
font-style: normal;
font-weight: 600;
line-height: 18px;
letter-spacing: 0px;
text-align: center;
}

 .top-header {
  color: #FFFFFF;
padding: 13px 0;
font-size: 12px;
font-style: normal;
font-weight: 600;
line-height: 18px;
letter-spacing: 0px;
}

.left-top-header {
  /* background-color: aqua; */
  position: relative;
}

.left-top-header:hover + .hov-left-top-header {
  display: block;

}

.left-top-header img {
  margin-left: 8px;
}

.hov-left-top-header {
  position: absolute;
  padding: 11.5px 24px 17px 8px;
  /* height: 533px; */
/* width: 262px; */
/* background-color: salmon; */
display: none;
top: 30px;
/* left: 0; */
background-color: #FFFFFF;
border: 1px solid rgba(0, 0, 0, 0.2);
box-sizing: border-box;
/* Shadow 1 */
color: #000000;
box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.14);
z-index: 10;
}

.hov-left-top-header p {
  text-align: left;
}





.clock, .localisation  {
  /* background-color: seagreen; */
  margin-right: 10px;
  align-self: flex-start;

}

.store-address {
  /* padding: 11px 0; */
}


.store-call {
  padding-left: 14px;
}

.center-top-header a {
  color: #FFFFFF;
}
.underline {
  position: relative;
}
.underline::after {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  background-color: #FFFFFF;
  left: 0;
  /* top: 100; */
  bottom: -4px;

}

.w-fb {
  margin: 0 12.5px 0 16px;
}


.fb-messenger {
  position: fixed;
  right: 31px;
  bottom: 31px;
}

.oval-fb-messenger {
  height: 60px;
width: 60px;
left: 0px;
top: 0px;
border-radius: 50%;
background: #0156FF;
position: relative;
}

.fb-messenger-icon {
  position: absolute;
  bottom: 10px;
  left: 10px;

}

.header-nav {
  padding: 25px 0 27px;
  /* background-color: burlywood; */
}

.logo {
  margin-right: 65px;
  /* background-color: brown; */
}

.menu {
  /* justify-self: start; */
  /* background-color: brown; */
  gap: 25px
}

nav {
  flex: 1;
  /* background-color: #0156FF; */
}

.basket {
  position: relative;
  /* background-color: coral; */
  margin: 0 39px 0 28px;
}
.basket-oval{
  height: 16px;
  width: 16px;
border-radius: 50% ;
background-color: #0156FF;
font-size: 10px;
font-style: normal;
font-weight: 700;
line-height: 15px;
text-align: center;
position: absolute;
top: -11.2px;
left: 14px;
}

.hov-my-card {
  Width: 310px;
  display: none;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.2);
  /* padding: 24px 0px; */
  position: absolute;
  top: 30px;
  left: -30px;
  /* bottom: 0; */
  /* text-align: center; */
  }

  .basket:hover .hov-my-card {
    display: block;
  }

  .hov-my-card a {
/* background-color: #FFB800; */
/* width: 100%; */
/* text-align: center; */
justify-content: center;

  }

  .hov-my-card a:nth-child(2) {
    /* background-color: #FFB800; */
margin-top: 13px;
margin-bottom: 7px;
    
      }

.top-hov-my-card {
  padding-left: 30px;
  padding-right: 30px;
  padding: 24px 30px 20px;
}
.items-hov-my-card {
padding: 17.5px 15px 23.5px 24px
}







.top-hov-my-card p:nth-child(2){
padding-top: 7px;
padding-bottom: 18px;
}

.bottom-hov-my-card {
  padding: 16.5px 30px 24.5px;
}
.bottom-hov-my-card img {
  margin-left: 10px;
}


.my-account {
  position: relative;
}

.gray:hover {
  background-color: #EBEBEB;
      }

.id-photo:hover + .hov-my-account {
  display: block;
}

.hov-my-account {

font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 28px;
letter-spacing: 0px;
text-align: left;
Width: 232px;
display: none;
background: #FFFFFF;
border: 1px solid rgba(0, 0, 0, 0.2);
box-sizing: border-box;
padding: 15px 26px;
/* color: #000000; */
position: absolute;
top: 36px;
left: -30px;
/* bottom: 0; */
}


.list-item {
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 21px;
letter-spacing: 0px;
text-align: center;
position: relative;

}




.list-item:hover {
border-radius: 100px;
background-color: #0156FF;
padding: 8px 26px;
}

.list-item:hover a {
  color: #FFFFFF;
    }

  .st-sub-menu {
    display: none;
    width: 350px;
    Height: 395px;
    position: absolute;
    left: -93px;
    /* top: 65px; */
    top: 38px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
    border: 1px solid #CCCCCC;
box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.14);
background-color: #FFFFFF;
;
    }
  .st-sub-menu li {
    /* background-color: rgb(241, 202, 94); */
    padding: 10px 23px 13px 28px;
    /* z-index: 10; */

    text-align: start;

    }
  .st-sub-menu li:hover {
background-color: #EBEBEB;
    }





  .list-item:hover .st-sub-menu {
    display: block;
    position: absolute;

  }
  .list-item:hover .st-sub-menu a {
    color: #000000;

  }

  .st-sub-menu:hover {

    }

    .hov-st-sub-menu:hover .nd-sub-menu {
    display: block;
    }

.nd-sub-menu {
  display: none;
  /* background-color: rgb(246, 133, 104); */
  /* padding-left: 10px; */
  /* transform: translate(10px); */
  position: absolute;
  left: 100%;
  top: 0;
  width: 262px;
  Height: 395px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  border: 1px solid #CCCCCC;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.14);
  background-color: #FFFFFF;
}
.nd-sub-menu li {
  /* background-color: rgb(241, 202, 94); */
  padding: 10px 26px 13px 21px;
  text-align: start;

  }
    .hov-nd-sub-menu:hover .rd-sub-menu {
    display: block;
    }

    .rd-sub-menu {
      display: none;
      /* background-color: rgb(106, 76, 241); */
      /* transform: translate(10px); */
      box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.14);
    }

.rd-sub-menu {
  display: none;
  /* background-color: rgb(246, 133, 104); */
  /* padding-left: 10px; */
  /* transform: translate(10px); */
  position: absolute;
  left: 100%;
  top: 0;
  width: 263px;
  Height: 395px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  border: 1px solid #CCCCCC;
  background-color: #FFFFFF;
}
.rd-sub-menu li {
  /* background-color: rgb(241, 202, 94); */
  padding: 10px 26px 13px 21px;
  text-align: start;

  }


/* ====================================================== ========================  5- Main  =======================
========================================================*/


.shared-main {
  /* background-color: #F5F7FF; */
  /* background-color: black; */
 /* text-align: center; */
}

.cards-shared-main {
  justify-content: space-around;
  /* text-align: center; */
  padding: 60px 0 44.5px
}
.card-shared-main {
  /* justify-content: space-around; */
  text-align: center;
/* margin: auto; */
max-width: 265px;
}
.card-shared-main .text-18-24 {
padding: 25.5px 0 13px;
/* background-color: rgb(141, 134, 124); */
}



.oval-shared-main {
  height: 65px;
width: 65px;
border-radius: 50%;
background-color: #0156FF;
display: flex;
align-items: center;
justify-content: center
}


/* ====================================================== =======================  6- Footer  ======================
========================================================*/


footer {
  color: #FFFFFF;
  padding: 47px 0 17px;
}
footer a{
  color: #FFFFFF;
}

.list-tite {
  padding: 45px 0 25px;

}

.top-footer {
/* background-color: aquamarine; */
align-items: flex-end;
}

.left-top-footer {
flex: 1;
}
.left-top-footer p:first-child {
  font-size: 38px;
  font-style: normal;
  font-weight: 500;
  line-height: 50px;

}
.left-top-footer p:last-child {
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 21px;
  padding-top: 9px;
}
.right-top-footer input {
  padding: 12px 150px 12px 10px ;
  margin-right: 23px;
  background-color: #000000;
border: 2px solid #FFFFFF;
box-sizing: border-box;
border-radius: 4px;
}
.right-top-footer a {
padding-left: 35px;
padding-right: 35px;
}

.center-footer {
  /* background-color: rgb(181, 212, 96); */
  padding-bottom: 36px;
  align-items: flex-start;
}
.center-footer ul {
  flex: 1;
  margin-right: 78px;
  /* gap: 78px; */
}
.center-footer ul:last-child {
  flex: 1.7;
  /* margin-right: 0px; */
  /* gap: 78px; */
}
.bottom-footer {
  /* background-color: rgb(56, 95, 204); */
  padding-top: 17px;
}
.social-media-footer img:first-child {
  margin-right: 12px;
  opacity: 0.5;
}
.center-bottom-footer img {
  margin-right: 6px;
}
.center-bottom-footer img:last-child {
  margin-right: 0;
  }


.bottom-footer p {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 132.5%;
  text-align: right;
  color: #FFFFFF;
  opacity: 0.6;
  /* background-color: blueviolet; */
}